In [ ]:
import pandas as pd
import numpy as np

In [ ]:
hacker = pd.read_csv('/content/HN_posts_year_to_Sep_26_2016.csv')

In [ ]:
hacker.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293119 entries, 0 to 293118
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            293119 non-null  int64
 1   title         293119 non-null  object
 2   url           279256 non-null  object
 3   num_points    293119 non-null  int64
 4   num_comments  293119 non-null  int64
 5   author        293119 non-null  object
 6   created_at    293119 non-null  object
dtypes: int64(3), object(4)
memory usage: 15.7+ MB

In [ ]:
hacker.describe()

                 id     num_points   num_comments
count  2.931190e+05  293119.000000  293119.000000
mean   1.133046e+07      15.025324       6.525544
std    6.961055e+05      58.504103      30.376319
min    1.017690e+07       1.000000       0.000000
25%    1.071636e+07       1.000000       0.000000
50%    1.130303e+07       2.000000       0.000000
75%    1.193152e+07       4.000000       1.000000
max    1.257901e+07    5771.000000    2531.000000

In [ ]:
hacker['time'] = pd.to_datetime(hacker['created_at']).dt.time

In [ ]:
hacker['date'] = pd.to_datetime(hacker['created_at']).dt.date

In [ ]:
hacker.isnull().sum()

id                  0
title               0
url             13863
num_points          0
num_comments        0
author              0
created_at          0
time                0
day                 0
dtype: int64

In [ ]:
hacker.head()

,id,title,url,num_points,num_comments,author,created_at,time,date
0,12579008,You have two days to comment if you want stem ...,http://www.regulations.gov/document?D=FDA-2015...,1,0,altstar,9/26/2016 3:26,03:26:00,2016-09-26
1,12579005,SQLAR the SQLite Archiver,https://www.sqlite.org/sqlar/doc/trunk/README.md,1,0,blacksqr,9/26/2016 3:24,03:24:00,2016-09-26
2,12578997,What if we just printed a flatscreen televisio...,https://medium.com/vanmoof/our-secrets-out-f21...,1,0,pavel_lishin,9/26/2016 3:19,03:19:00,2016-09-26
3,12578989,algorithmic music,http://cacm.acm.org/magazines/2011/7/109891-al...,1,0,poindontcare,9/26/2016 3:16,03:16:00,2016-09-26
4,12578979,How the Data Vault Enables the Next-Gen Data W...,https://www.talend.com/blog/2016/05/12/talend-...,1,0,markgainor1,9/26/2016 3:14,03:14:00,2016-09-26

In [ ]:
# hacker = hacker.drop('day', axis = 1)

In [ ]:
hacker.to_csv('/content/hacker.csv', index=False)

##**EDA**

In [ ]:


# Assuming your dataset is stored in a DataFrame named 'hacker'

# Find the maximum number of comments
max_comments = np.max(hacker['num_comments'])

# Select the time where comments are equal to the maximum
result = hacker.loc[hacker['num_comments'] == max_comments, 'created_at']

# Print the result
print(result)
print()
print(max_comments)

69169    6/24/2016 3:48
Name: created_at, dtype: object

2531

In [ ]:
hacker_news = hacker.fillna('-')

In [ ]:
hacker_news.to_csv('/content/hacker_news.csv', index=False)